<div class="container-fluid">
  <div class="row siderow">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><em>At A Glance:</em></li>
        <li><em>Patient:</em> Sam Smith</li>
        <li><em>Height:</em> 71"</li>
        <li><em>Weight:</em> 185lbs</li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><em>Medications:</em></li>
        <ul>
          <li>Aspirin</li>
          <li>Levofloxacin</li>
          <li>Lisinopril</li>
        </ul>
      </ul>
      <ul class="nav nav-sidebar">
        <li><em>Prior Imaging:</em></li>
        <li>Chest X-Ray</li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a>Labwork</a></li>
        <li><a>Vitals</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class=".col-xs-12 .col-sm-6 .col-md-8">
      <div id="timeline" class="chart">
        <span class="timeline-label">Timeline</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=".col-xs-12 .col-sm-6 .col-md-8">
      <div id="chart1" class="chart"></div>
    </div>
  </div>
  <div class="row">
    <div class=".col-xs-12 .col-sm-6 .col-md-8">
      <div id="chart2" class="chart"></div>
    </div>
  </div> <!-- row -->
</div>
