@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import "dashboard.css";

body {
  font-family: 'Arimo', sans-serif;
  padding-top: 70px;
}



// first chart
.chart {
  path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  line {
    stroke: black;
  }

  text {
    font-size: 9pt;
  }
}
