#top-wrapper {
	background-image: url("http://puu.sh/gK8Jg/1f9f5be126.png");
	height: 28%;
	width: 100%;
	position: relative;
}
#bottom-wrapper {
	background-image: url("http://puu.sh/gK8Jg/1f9f5be126.png");
	height: 70%;
	width: 100%;
}
#profile-box {
	background-color: #009933;
	margin: 10px, 20px, 10px, 20px;
	float: left;
	width: 15%;
	height: 100%;
}
#alerts {
	background-color: #FF0000;
	height: 30%;
	float: right;
	width: 20%;
	margin: 2px 20px 2px 20px;

}
#timeline {
	background-color: #CC3399;
	height: 50%;
	width: 85%;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#vitals {
	height: 65%;
}
#subjective {
	height: 35%;
}
#clinical-lab-test {
	height: 100%;

}
#current-treatment {
	height: 40%;
}
#imaging-data {
	height: 60%;
}
#left-col {
	float: left;
	width: 17%;
	margin: 5px 5px 5px 5px;

}
#center-col {
	float: left;
	width: 35%;
	margin: 5px 5px 5px 5px;

}
#right-col {
	float: left;
	width: 44%;
	margin: 5px 5px 5px 5px;

}
.bottom-title {
	height: 35px;
	text-align: center;
	background-color: #66CFF2;


  }
#bottom-content-vitals {
	background-color: white;
	width: 100%;
	height: 80%;
	top: 0;
	box-shadow: 5px 10px 3px #888888;

}

#bottom-content-clinical-lab-test {
    background-color: white;
	width: 100%;
	height: 91%;
	top: 0;
	box-shadow: 5px 10px 3px #888888;
}

#bottom-content-subjective {
    background-color: white;
	width: 100%;
	height: 70%;
	top: 0;
	box-shadow: 5px 10px 3px #888888;
}

#bottom-content-imaging-data {
    background-color: white;
	width: 100%;
	height: 90%;
	box-shadow: 5px 10px 3px #888888;
}

#bottom-content-current-treatment {
    background-color: white;
	width: 100%;
	height: 70%;
	top: 0;
	bottom: 0;
	box-shadow: 5px 10px 3px #888888;
}

.title-text {
	vertical-align: middle;
	padding: 10px 0px 10px 0px;
	color: white;
}

.xray-container {
    background-image: url("xray.png");
    background-size: 100%;
    background-repeat: no-repeat;
	float: left;
	width: 48%;
	height: 70%;
	margin: 20px 2px 20px 2px;
}
.xray {

}
.xray-container:hover {
	cursor:pointer;
	border-style: solid;
	border-radius: 5px;
	border-width: 5px;
	border-color: #2298BF;
}

.xray-text {
	color: red;
}


/* everything below is modal stuff!	!! */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 90%;
	height: 90%;
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}


.close:hover { background: #00d9ff; }

#xray-scroll {
	height: 20%;
	width: 100%;
}

.container {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}

.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
	font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
    background: url(../img/browser-icons.png);
}

        /* jssor slider arrow navigator skin 02 css */
/*
.jssora02l              (normal)
.jssora02r              (normal)
.jssora02l:hover        (normal mouseover)
.jssora02r:hover        (normal mouseover)
.jssora02ldn            (mousedown)
.jssora02rdn            (mousedown)
*/
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a02.png) no-repeat;
    overflow:hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02ldn { background-position: -243px -33px; }
.jssora02rdn { background-position: -303px -33px; }



            /* jssor slider thumbnail navigator skin 03 css */
/*
.jssort03 .p            (normal)
.jssort03 .p:hover      (normal mouseover)
.jssort03 .pav          (active)
.jssort03 .pav:hover    (active mouseover)
.jssort03 .pdn          (mousedown)
*/
.jssort03 .w, .jssort03 .pav:hover .w
{
	position: absolute;
	width: 60px;
	height: 30px;
	border: white 1px dashed;
}
* html .jssort03 .w
{
	width /**/: 62px;
	height /**/: 32px;
}
.jssort03 .pdn .w, .jssort03 .pav .w { border-style: solid; }
.jssort03 .c
{
	width: 62px;
	height: 32px;
	filter:  alpha(opacity=45);
	opacity: .45;
	
	transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}
.jssort03 .p:hover .c, .jssort03 .pav .c
{
	filter:  alpha(opacity=0);
	opacity: 0;
}
.jssort03 .p:hover .c
{
	transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}


#slider2_container {
	height: 150px;
	width: 600px;
	position: relative;
	overflow:; hidden;
	left: 25%;
	top: 30px;
}
