#gridFrame {
/*    background-color: #bcc;*/
    padding-bottom: 10px;
    /*border-radius: 0.25em;*/
}
.grid {
    background-color: #555;
    border: solid 1px #344;
    overflow: auto;
    font-size: 10px;
    white-space: nowrap;
}
.grid > div {
    box-sizing: border-box;
    display: inline-block;
    border-top: solid 1px rgba(255,255,255,0.3);
    border-left: solid 1px rgba(255,255,255,0.3);
    width: 30px;
    height: 20px;
    color: black;
    font-size: larger;
}

.grid > div:hover {
    border: solid 2px rgba(0,0,0,1.0);
    cursor: pointer;
}

.alt0 {   backaground-image: url("http://imgsdown.1mobile.com/group2/M00/3F/67/S36rZFULAX-AC2msAAF3P-JYyrM453.png");
}
.alt1 {    background-color: red;    }
.alt2 {    background-color: green;    }
.alt3 {    background-color: #430;    }
.alt4 {    background-color: #540;    }
.alt5 {    background-color: #650;    }
.alt6 {    background-color: #761;    }
.alt7 {    background-color: #872;    }
.alt8 {    background-color: #873;    }
.alt9 {    background-color: #874;    }
.alt10 {   background-color: #875;    }